* {
    margin: 0px;
    padding: 0px;
}

body {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    background-size: 100%;
    /* background-color: black; */
    
}

 /* body marquee img {
    width: 300px;
    /* background-color: aliceblue; */
     /* height: 50%;
     margin-top: 40px;
}  */ 
.rotate{
    transform: rotateY(180deg);
}
/* .rotate1{
    transform: rotateY(0deg);
}
.rotate2{
    transform: rotateY(0deg);
}
.rotate3{
    transform: rotateY(0deg);
} */